.container {
    display: flex;
    justify-content: space-around;
    align-items: center;  
    /* flex-direction: column-reverse; */
    /* align-content: end; */
    height: 400px;
    background-color: lightgray;
    padding: 10px;
    gap: 8px;
}

.box {
    height: 100px;
    width: 100px;
    color: white;
}

.box1 {
    background-color: red;
    /* order: 2; */
    /* flex-grow: 1; */
    /* flex-shrink: 3; */
    flex-basis: 150px;
    align-self: flex-end;
}
.box2 {
    background-color: green;
    /* order: 1; */
    /* flex-grow: 2; */
    /* flex-shrink: 2; */
    flex-basis: 170px;
}
.box3 {
    background-color: blue;
    /* order: 1; */
    /* flex-grow: 1; */
    /* flex-shrink: 1; */
    flex-basis: 210px;
}
