/* body {
    font-family: Arial, Verdana, sans-serif;
    color: #111111;
}

table {
    width: 550px;
}

th,td {
    padding: 7px 10px 10px 10px;
}

th {
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size: 90%;
    border-bottom: 2px solid #111111;
    border-top: 1px solid #999;
    text-align: left;
}

tr.even {
    background-color: #efefef;
}

tr:hover {
    background-color: #c3e6e5;
}

.money {
    text-align: right;
} */

td {
    border: 1px solid #0088dd;
    padding: 15px;
}

table.one {
    empty-cells: hide;
    /* border-spacing: 0; */
}

/* input[type="text"] {
    border: 2px solid #0088dd;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    box-shadow: 5px 5px 5px #aaaaaa;
    margin-bottom: 10px;
}

input[type="text"]:focus {
    background-color: #ccae4a;
    border: 1px solid #133638;
    color: green;
}

fieldset {
    width: 350px;
    border: 1px solid #dcdcdc;
    border-radius: 10px;
    padding: 20px;
    text-align: right;
}

legend {
    background-color: #efefef;
    border: 1px solid #dcdcdc;
    border-radius: 10px;
    padding: 10px 20px;
    text-align: left;
    text-transform: uppercase;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

label {
    display: inline-block;
    width: 120px;
    text-align: left;
    font-size: 18px;
} */


div {
    border-bottom: 1px solid #efefef;
    margin: 10px;
    padding-bottom: 10px;
    width: 400px;
}

.title {
    float: left;
    width: 100px;
    text-align: right;
    padding-right: 10px;
}

.radio-buttons label {
    float: none;
}

.submit {
    text-align: right;
}